body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header li {
    list-style: none;
    display: inline-block;
    margin: 0 19px 0;
}

.header ul a:hover {
    border-bottom: 5px solid #2e7d32;
    
}

.header ul {      
    display: flex;      
    flex-direction: row;      
    gap: 20px;     
}

.header li a {
    color: black;
    text-decoration: none;
    padding-bottom: 30px;
}

.header #login {
    background-color: #2e7d32;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header #login a {
    color: #f5f5f5;
}

.header img {
  
    height: 100px;
}


.cabeçalho {
    width: 100%;
    height: 120px;
}


.imagem {
    background-image: url(lixoorganico.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    opacity: 0.8;
}


h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    top: 280px;
    text-shadow: #000 2px 3px 2px;
}


.texto1 h2, .texto2 h3 {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    color: rgb(22, 55, 22);
    text-align: center;
    position: relative;
    
}

.texto1 h2{
    top: 20px;
}

.texto1 p, .texto2 p {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
    text-align: justify;
    width: 900px;
    color: rgb(52, 75, 52);
}


.links h4 {
    font-size: 20px;
    color: rgb(22, 55, 22);
    text-align: center;
    
}

.links a {
    display: block;
    width: max-content;
    background-color: rgb(41, 68, 41);
    color: white;
    margin: 5px auto;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}


.rodape {
    width: 100%;
    height: 30vh;
    background-color: rgb(44, 41, 41);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
}

.rodape p, .rodape a{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 40px;
    margin: 10px;
    font-size: 17px;
}

.rodape a{
    text-decoration: none;
}

.paragrafos{
    align-items: center;
}

.fale-conosco input{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    top: 50px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    
}

.fale-conosco p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
}



@media screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
        top: 200px;
    }

    .texto1 p, .texto2 p {
        width: 80%;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 60px;
        top: 300px;
    }

    .imagem {
        height: 800px;
    }

    .texto1 p, .texto2 p {
        width: 70%;
        font-size: 18px;
    }

    .rodape {
        height: 40vh;
    }

}
